<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns="http://www.springframework.org/schema/beans" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd ">
		
	<context:component-scan base-package="com.gkk.ssm.controller"></context:component-scan>	
	
	<mvc:annotation-driven conversion-service="conversionService"></mvc:annotation-driven>
		
	<!-- 配置时间类型自定义的转换器 -->
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="com.gkk.ssm.controller.InformationDateConverter"/>
			</list>
		</property>
	</bean>
	
	<!--开启aopproxy-target-class="true"默认是false,更改为true时使用的是cglib动态代理,这样只能实现对Controller层的日志记录-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!--扫描日志记录切面-->
    <context:component-scan base-package="package com.gkk.ssm.aspect" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
    </context:component-scan>
    
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
		
			
    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <!-- 多个拦截器，顺序执行 -->
         <mvc:interceptor>
           <!-- /** 表示所有的url，包括子url路径 -->
            <mvc:mapping path="/**"/>
            <!--不拦截的url  -->
            <mvc:exclude-mapping path="/myaccount/login.action"/>
            <mvc:exclude-mapping path="/myaccount/register.action"/>
            <mvc:exclude-mapping path="/jsp/register.jsp"/>
             <bean class="com.gkk.ssm.interceptor.LoginHandlerInterceptor"></bean>
         </mvc:interceptor>
    </mvc:interceptors>
	    
	    	
</beans>